<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <h1>hello this is a landing page example for testing</h1>

    <a href="{% url 'loginBarangay' %}">
        <button>Go to barangay</button>
    </a>

    <a href="{% url 'loginMddrmo' %}">
        <button>Go to mddrmo</button>
    </a>

    <a href="{% url 'admin-login' %}">
        <button>Go to admin</button>
    </a>



  </body>
</html>